.num-a {
  display: inline-flex;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
}
.num-a:hover {
  background-color: #eee;
}
.num-a > span {
  display: inline-flex;
  padding: 6px 10px;
  font-size: 14px;
}
.num-a > span.selected {
  background-color: #000;
  color: #fff;
}



// @media (prefers-color-scheme: dark) {
//   .num-a {
//     border: 1px solid #fff;
//     background-color: #000;
//     color: #fff;
//   }
//   .num-a:hover {
//     background-color: #333;
//   }
//   .num-a > span {
//     // ...
//   }
//   .num-a > span.selected {
//     background-color: #fff;
//     color: #000;
//   }
// }
.dark {
  .num-a {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
  }
  .num-a:hover {
    background-color: #333;
  }
  .num-a > span {
    // ...
  }
  .num-a > span.selected {
    background-color: #fff;
    color: #000;
  }
}