@keyframes sidebar-background-show {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  1% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
@keyframes sidebar-background-hide {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  99% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.tt_category {
  .link_tit, .link_item, .link_sub_item {
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 4px;
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  img[alt='N'] {
    margin-top: 3px;
  }

  .link_tit {
    margin-bottom: 8px;
  }

  .link_sub_item {
    margin-left: 12px;
    color: #777;

    &::before {
      content: 'ㄴ ';
      margin-right: 4px;
    }
  }

  .c_cnt {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      margin-left: 4px !important;
      display: inline-block;
      position: relative;
    }
  }
}

.dark {
  .tt_category {
    .link_sub_item {
      color: #bbb;
    }
  }
}

.dark-mode-switch-button {
  &.darkmode_fixed {
    display: none !important;
  }
}