.time > a {
  display: block;
  color: #888;
  text-decoration: none;
}
.time > a:hover {
  text-decoration: underline;
}
.time > a::before {
  content: "[";
}
.time > a::after {
  content: "]";
}

// @media (prefers-color-scheme: dark) {
//   .tag-row > a {
//     border: 1px solid #fff;
//     color: #fff;
//   }
// }
.dark {
  .tag-row > a {
    border: 1px solid #fff;
    color: #fff;
  }
}
