@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-ln-line.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px !important;
  white-space: nowrap !important;

  /* your custom style here */
}

.hljs-ln-line.hljs-ln-code {
  white-space: pre-wrap !important;
  padding-left: 8px;
}

#tt-body-page {
  .contents-wrapper-container {
    .contents_style {
      > div {
        opacity: 0;
  
        > span {
          opacity: 0;
        }
      }
  
      ul, ol {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
        position: relative;

        li {
          width: 100%;
          margin-bottom: 4px;
          position: relative;
        }
      }
  
      > h1, > h2, > h3, > h4, > h5, > h6 {
        margin-top: 12px;
        margin-bottom: 12px;
      }
  
      > p {
        margin-bottom: 4px;
      }

      > blockquote {
        // &[data-ke-style='style1'] {
        //   color: #ccc !important; 
        // }

        &[data-ke-style='style2'] {
          color: #999;
          border-left: 4px solid #CACACA;
          padding: 4px 12px;
          position: relative;
        }

        // &[data-ke-style='style3'] {
        //   background-color: transparent;
        //   color: #ccc !important; 
        // }
      }

      > table {
        color: #333;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        background-color: #fff;

        > tbody {
          > tr {
            > td {
              padding: 8px;
            }
          }
        }

        // 테이블 스타일이 없는 경우
        &:not([data-ke-style='style1']):not([data-ke-style='style2']):not([data-ke-style='style3']):not([data-ke-style='style4']):not([data-ke-style='style5']):not([data-ke-style='style6']):not([data-ke-style='style7']):not([data-ke-style='style8']):not([data-ke-style='style9']):not([data-ke-style='style10']):not([data-ke-style='style11']):not([data-ke-style='style12']):not([data-ke-style='style13']):not([data-ke-style='style14']):not([data-ke-style='style15']) {
          > tbody {
            > tr {
              > td {
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
              }
            }
          }
        }

        &[data-ke-style='style1'],  
        &[data-ke-style='style2'],
        &[data-ke-style='style3'],
        &[data-ke-style='style8'],
        &[data-ke-style='style9'],
        &[data-ke-style='style10'],
        &[data-ke-style='style11']
        {
          
          > tbody {
            > tr {
              &:not(:first-child) {
                > td {
                  border-right: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                }
              }

              &:first-child {
                > td {
                  border-right: 1px solid #ccc;
                }
              }
  
              // &:first-child {
              //   > td {
              //     border-top: 1px solid #ccc;
              //     border-left: 1px solid #ccc;
              //   }
              // }
            }
          }
        }

        &[data-ke-style='style8'],
        &[data-ke-style='style9'],
        &[data-ke-style='style10'],
        &[data-ke-style='style11'] {
          border-left: transparent;

          > tbody {
            > tr {
              &:not(:first-child) {
                > td {
                  border-right: transparent;
                  border-bottom: 1px solid #ccc;
                }
              }

              &:first-child {
                > td {
                  border-right: transparent;
                }
              }
            }
          }
        }

        &[data-ke-style='style4'],
        &[data-ke-style='style5'],
        &[data-ke-style='style6'],
        &[data-ke-style='style7'],
        &[data-ke-style='style12'],
        &[data-ke-style='style13'],
        &[data-ke-style='style14'],
        &[data-ke-style='style15']
        {
          > tbody {
            > tr {
              > td {
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
              }
            }
          }
        }
      }
  
      > pre[data-ke-type='codeblock'] {
        position: relative;
        border: 1px solid #ccc;
        background-color: #f6f6f6;
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 8px;
  
        code.hljs {
          background-color: transparent;
  
          table {
            // color: #fff !important;
            font-size: 12ppx;
  
            td {
              > span {
                // color: #fff !important;
                margin: 0;
              }
            }
          }
        }
      }
  
      a {
        color: #0982f8;
        text-decoration: underline;
  
        &:hover {
          color: #55aaff;
        }
      }
  
      p {
        margin-bottom: 4px !important;
      }
    }

    // 유튜브 영상 수평 정렬
    &.post_youtube_horizontal_align_left {
      .contents_style {
        figure[data-video-host='youtube'] {
          display: flex;
          justify-content: flex-start;
        }
      }
    }

    &.post_youtube_horizontal_align_center {
      .contents_style {
        figure[data-video-host='youtube'] {
          display: flex;
          justify-content: center;
        }
      }
    }

    &.post_youtube_horizontal_align_right {
      .contents_style {
        figure[data-video-host='youtube'] {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

// 다크모드 스타일 셋팅
.dark {
  #tt-body-page {
    .another_category {
      h4 {
        color: #fff !important;

        a {
          color: #fff !important;
        }
      }

      table {
        th, td {
          color: #fff !important;

          a, span {
            color: #fff !important;
          }
        }
      }
    }

    .contents-wrapper-container {
      .contents_style {
        > figure.fileblock {
          .filename {
            color: #ccc !important;
          }
        }

        > figure[data-ke-type='opengraph'] {
          .og-text {
            .og-title {
              color: #fff !important;
            }
          }
        }

        > pre[data-ke-type='codeblock'] {
          border: 1px solid #fff;
          background-color: transparent;
          border-radius: 12px;
          padding: 20px;

          code.hljs {
            background-color: transparent;

            table {
              td {
                color: #eee;
                // > span {
                //   color: #fff !important;
                // }

                &.hljs-ln-numbers {
                  color: #fff;
                }
              }
            }
          }
        }

        a {
          color: #58a2eb;
          text-decoration: underline;

          &:hover {
            color: rgb(124, 190, 255);
          }
        }

        > blockquote {
          &[data-ke-style='style1'] {
            color: #ccc !important; 
          }

          &[data-ke-style='style2'] {
            color: #ccc !important; 
          }

          &[data-ke-style='style3'] {
            background-color: transparent;
            color: #ccc !important; 
          }
        }
      }

      &.darkmode_post_table_style_auto_convert {
        .contents_style {
          > table {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background-color: transparent;
            color: #fff;

            // 테이블 스타일이 없는 경우
            &:not([data-ke-style='style1']):not([data-ke-style='style2']):not([data-ke-style='style3']):not([data-ke-style='style4']):not([data-ke-style='style5']):not([data-ke-style='style6']):not([data-ke-style='style7']):not([data-ke-style='style8']):not([data-ke-style='style9']):not([data-ke-style='style10']):not([data-ke-style='style11']):not([data-ke-style='style12']):not([data-ke-style='style13']):not([data-ke-style='style14']):not([data-ke-style='style15']) {
              border-top: 1px solid #ccc;
              border-left: 1px solid #ccc;
            }

            // 첫번째 행의 아래줄에만 강조되어있는 스타일
            &[data-ke-style='style1'],
            &[data-ke-style='style2'],
            &[data-ke-style='style3']
            {
              border-top: 1px solid #999;
              border-left: 1px solid #999;

              > tbody {
                > tr {
                  > td {
                    border-right: 1px solid #999;
                    border-bottom: 1px solid #999;
                  }
                }

                > tr {
                  &:first-child {
                    > td {
                      border-bottom: 1px solid #fff;
                    }
                  }
                }
              }
            }

            &[data-ke-style='style8'],
            &[data-ke-style='style9'],
            &[data-ke-style='style10'],
            &[data-ke-style='style11']
            {
              border-top: 1px solid #999;
              border-left: transparent;

              > tbody {
                > tr {
                  > td {
                    border-right: transparent;
                    border-bottom: 1px solid #999;
                  }
                }

                > tr {
                  &:first-child {
                    > td {
                      border-bottom: 2px solid #fff;
                    }
                  }
                }
              }
            }

            &[data-ke-style='style4'], 
            &[data-ke-style='style5'],
            &[data-ke-style='style6'],
            &[data-ke-style='style7'] {
              > tbody {
                > tr {
                  > td {
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                  }

                  &:nth-child(even) {
                    > td {
                      background-color: rgba(255, 255, 255, 0.2);
                    }                
                  }
                }
              }
            }

            &[data-ke-style='style12'], 
            &[data-ke-style='style13'],
            &[data-ke-style='style14'],
            &[data-ke-style='style15'] {
              > tbody {
                > tr {
                  > td {
                    &:first-child {
                      background-color: #333;
                      color: #fff;
                    }
                  }

                  &:first-child {
                    > td {
                      border-top: transparent;
                      border-left: transparent;
                      background-color: #666;
                      color: #fff;
                    }
                  }

                  &:nth-child(odd):not(:first-child) {
                    > td:not(:first-child) {
                      background-color: rgba(255, 255, 255, 0);
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.is_post_codeblock_darkmode_text_color_all_white_true {
        .contents_style {
          > pre[data-ke-type='codeblock'] {
            code.hljs {
              table {
                td {
                  > span {
                    color: #fff !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
}

.post-permalink-secret-status-icon {
  display: none;

  &[data-status='비공개'] {
    display: inline-flex;
  }
}

.secret-post-symbol {
  display: none;

  &[data-status='비공개'] {
    display: flex;
  }
}