@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-ln-line.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px !important;
  white-space: nowrap !important;

  /* your custom style here */
}

.hljs-ln-line.hljs-ln-code {
  white-space: pre-wrap !important;
  padding-left: 8px;
}

#tt-body-page .tt_article_useless_p_margin {
  > ul, > ol {
    padding-left: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  #tt-body-page {
    .another_category {
      h4 {
        color: #fff !important;

        a {
          color: #fff !important;
        }
      }

      table {
        th, td {
          color: #fff !important;

          a, span {
            color: #fff !important;
          }
        }
      }
    }
  } 
}
.dark {
  #tt-body-page {
    .another_category {
      h4 {
        color: #fff !important;

        a {
          color: #fff !important;
        }
      }

      table {
        th, td {
          color: #fff !important;

          a, span {
            color: #fff !important;
          }
        }
      }
    }
  } 
}