@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-ln-line.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px !important;
  white-space: nowrap !important;

  /* your custom style here */
}

.hljs-ln-line.hljs-ln-code {
  white-space: pre-wrap !important;
  padding-left: 8px;
}

#tt-body-page {
  .contents_style {
    > div {
      opacity: 0;

      > span {
        opacity: 0;
      }
    }

    > ul, > ol {
      padding-left: 28px;
    }

    > h1, > h2, > h3, > h4, > h5, > h6 {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    > p {
      margin-bottom: 4px;
    }

    > ul {
      margin-bottom: 8px;
    }

    > ol {
      margin-bottom: 8px;
    }

    > pre[data-ke-type='codeblock'] {
      border: 1px solid #ccc;
      background-color: #f6f6f6;
      border-radius: 12px;
      padding: 20px;
      margin-bottom: 8px;

      code.hljs {
        background-color: transparent;

        table {
          // color: #fff !important;
          font-size: 12ppx;

          td {
            > span {
              // color: #fff !important;
              margin: 0;
            }
          }
        }
      }
    }

    a {
      color: #0982f8;
      text-decoration: underline;

      &:hover {
        color: #55aaff;
      }
    }

    p {
      margin-bottom: 4px !important;
    }
  }
}

// 다크모드 스타일 셋팅
.dark {
  #tt-body-page {
    .another_category {
      h4 {
        color: #fff !important;

        a {
          color: #fff !important;
        }
      }

      table {
        th, td {
          color: #fff !important;

          a, span {
            color: #fff !important;
          }
        }
      }
    }

    .contents_style {
      > figure.fileblock {
        .filename {
          color: #ccc !important;
        }
      }

      > pre[data-ke-type='codeblock'] {
        border: 1px solid #fff;
        background-color: transparent;
        border-radius: 12px;
        padding: 20px;

        code.hljs {
          background-color: transparent;

          table {
            color: #fff !important;

            td {
              > span {
                color: #fff !important;
              }
            }
          }
        }
      }

      a {
        color: #58a2eb;
        text-decoration: underline;

        &:hover {
          color: rgb(124, 190, 255);
        }
      }

      > blockquote {
        &[data-ke-style='style1'] {
          color: #ccc !important; 
        }

        &[data-ke-style='style2'] {
          color: #ccc !important; 
        }

        &[data-ke-style='style3'] {
          background-color: transparent;
          color: #ccc !important; 
        }
      }

      > table {
        border-left: 1px solid #fff;

        > tbody {
          > tr {
            > td {
              background-color: transparent !important;
              color: #fff !important;
              border-right: 1px solid #fff;
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  } 
}